html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

button {
    background-color: white;
    border: solid 2px lightgray;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
}

.hidden {
    display: none !important;
}

.overlay {
    padding: 10px 14px;
    background-color: white;
    border-radius: 8px;
}

.overlay h3 {
    margin: 0;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
}

.instructions-overlay {
    max-height: 25vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.route-card {
    border-left: 5px solid aqua;
    padding-left: 0.6em;
    margin-top: 1em;
}

.route-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.instructions-content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: 1;
    overflow-y: auto;
}

.instructions-content p {
    margin: 0;
}

.instruction-container {
    border: solid 2px lightgray;
    padding: 2px 5px;
    border-radius: 5px;
}

#stop-counter {
    width: 30px;
}